__pycache__/
CoRe_DB/
CoRe_DB/*
CoRe_DB
saved_models/
saved_models
saved_models/*
wandb/
wandb/*
wandb
.vscode/
.ipynb_checkpoints/
./test_data/*
./test_data/datasets/MNIST/*
./test_data/datasets/MNIST/raw/*
test_data/datasets/MNIST/raw/*
*.pt
best_*
plots/*
plots
timages/*
timages
*.onnx
*.pth
*.pt
*.zip
*zip
*.ignore.*
*.IG.*
*/plots
/plot_generation
*.pd*
